
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', 'Consolas', 'Monaco', monospace; 
    color: #ffffff;
    overflow: hidden; 
}


body {
    background-image: url('files/market.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}


.data-panel {
    position: absolute; 
    


    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%; 
    backdrop-filter: blur(8px);
 
    background-color: rgba(0, 0, 0, 0.55); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
}

.category-header {
    font-size: 1.5em; 
    font-weight: bold;
    color: #00bcd4; 
    border-bottom: 2px solid #00bcd4;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.symbol {
    font-weight: bold;
    color: #eee;
    flex-basis: 30%; 

}

.change {
    flex-basis: 30%; 
    text-align: right;
    font-weight: bold;

}


.item {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.price {
    flex-basis: 40%; 
    text-align: right;
}

.item:last-child {
    border-bottom: none; 
}


